<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/spaces"></ion-back-button>
    </ion-buttons>
    <ion-title>Agendar {{ spaceName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="calendar-wrapper">
    <ion-datetime
      presentation="date"
      [min]="minDate"
      (ionChange)="onDateChange($event)"
      locale="pt-BR"
      size="cover">
    </ion-datetime>
  </div>

  <div class="status-section ion-margin-top">
    
    <div *ngIf="isLoading" class="ion-text-center">
      <ion-spinner name="dots"></ion-spinner>
      <p>Verificando disponibilidade...</p>
    </div>

    <div *ngIf="!isLoading && statusDisponibilidade === 'disponivel'" class="feedback success">
      <ion-icon name="checkmark-circle"></ion-icon>
      <p>Data disponível!</p>
    </div>

    <div *ngIf="!isLoading && statusDisponibilidade === 'ocupado'" class="feedback error">
      <ion-icon name="close-circle"></ion-icon>
      <p>Data indisponível.</p>
    </div>

  </div>

</ion-content>

<ion-footer class="ion-padding">
  <ion-button 
    expand="block" 
    size="large" 
    (click)="confirmarReserva()"
    [disabled]="statusDisponibilidade !== 'disponivel' || isLoading">
    CONFIRMAR RESERVA
  </ion-button>
</ion-footer>