<ion-content [fullscreen]="true" class="ion-padding content-center">
  
  <div class="login-container">

    <div class="header-section">
      <div class="logo-circle">
        <ion-icon name="business"></ion-icon>
      </div>
      <h1>LunaLink</h1>
      <p>Gestão do condomínio Luna Village</p>
    </div>

    <div class="form-section">
      
      <ion-item lines="full" class="custom-item">
        <ion-icon name="person-outline" slot="start" color="primary"></ion-icon>
        <ion-label position="stacked">Login ou Email</ion-label>
        <ion-input type="text" [(ngModel)]="loginData.login"></ion-input>
      </ion-item>

      <ion-item lines="full" class="custom-item">
        <ion-icon name="lock-closed-outline" slot="start" color="primary"></ion-icon>
        <ion-label position="stacked">Senha</ion-label>
        <ion-input type="password" [(ngModel)]="loginData.password"></ion-input>
      </ion-item>

      <ion-button expand="block" size="large" class="submit-btn" (click)="fazerLogin()">
        ENTRAR
      </ion-button>

    </div>

  </div>

</ion-content>